# Node modules folder
node_modules/

# Sensitive configuration files
.env
permisos-firebase.json

# Logs & cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Mac/OS & system
.DS_Store
Thumbs.db

# Tools outputs
coverage/
dist/
build/

# Others
*.local
